@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --color-primary:#F3F5FC;
    --color-secondary:#0A3871;
    --color-tertiary:#D8DFE8;
    --color-aside:#FFFFFF;
    --color-strong:#343A40;
    --color-hover:#4f5861;
    --color-span:#495057;
    --color-hover-text:#9eacbb;
}
*{
    padding:0;
    margin:0;
    font-family: 'Inter', sans-serif;
}
body{
    justify-content:space-between;
    display:flex;
    height:100vh;
    box-sizing:border-box;
    background-color: var(--color-primary);
}
main{
    
    height:100%;
    width:75%;
}
#logo{
    margin: 2% 5%;
}
#userInput{
    width:50%;
    font-size: 2rem;
    color: var(--color-secondary);
    margin: 10% 25%;
    max-width: 100%;
    resize: none;
}
#inputWarningImg{
    margin-left: 25%;
}
#inputWarning{
    color:var(--color-quartiary);
    font-size:0.75rem;
}
button{
    width:25%;
    height:7%;
    border-radius:24px;
    padding:24px;
    gap:8%;
    font-size:100%; /* originaly was 1 rem||16px */
}
#crptButton{
    background-color:var(--color-secondary);
    color:var(--color-tertiary);
    margin-left: 25%;
}
#crptButton:hover{
    background-color:var(--color-hover);
    color:var(--color-hover-text);
}
#dscrptButton{
    background-color:var(--color-tertiary);
    color:var(--color-secondary);
    margin-left:5%;
}
#dscrptButton:hover{
    background-color: var(--color-hover);
    color:var(--color-hover-text);
}
#resultAside{
    background-color:var(--color-aside);
    border-radius: 32px;
    width:25%;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 2% 2% 2% 0%;
    color:var(--color-span);
    text-align:center;
}
#noTextImg{
    margin-top:50%;
    width:75%;
}
strong.resultAside{
    color:var(--color-strong);
    font-size:1.5rem;
}
span.resultAside{
    font-size:1rem;
}
#outputDiv{
    margin-top:25px;
    width:calc(100% - 50px);
    display:flex;
    flex-direction:column;
}
#outputText{
    color:var(--color-span);
    font-size: 1.5rem;
    text-align:start;
    white-space: pre-wrap;
    overflow-wrap:break-word;
}